@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
  --bg-light: #fff;
  --bg-dark: #263238;
  --color-purple: #dd8aec;
  --color-green: #6cdb8c;
  --color-yellow: #e6c976;
  --color-red: #f67567;
  --color-orange: #F89400;
}

body {
    font-size: 15pt;
    font-family: 'DM Mono', monospace;
    background: var(--bg-dark);
}

.bg-purple {
  background: var(--color-purple);
}
.bg-green {
  background: var(--color-green);
}
.bg-yellow {
  background: var(--color-yellow);
}
.bg-red {
  background: var(--color-red);
}
.biodata {
  margin-top: 30px;
  padding-top: 30px;
  background-image: url(../img/rocket/rocket.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px -30px;
}
.profil h5 {
  color: var(--color-orange);
}
.profil .profesi {
  mix-blend-mode: screen;
  color: var(--color-orange);
}
.skill {
  margin-top: 30px;
  padding-bottom: 30px;
}
.card-skill {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
}

.card-skill-top-left {
  border-top-left-radius: 155pt 155pt;
  border-top-right-radius: 23pt 23pt;
  border-bottom-left-radius: 20pt;
  border-bottom-right-radius: 20pt;
  border: none;
}
.card-skill-top-right {
  border-top-left-radius: 23pt 23pt;
  border-top-right-radius: 155pt 155pt;
  border-bottom-left-radius: 20pt;
  border-bottom-right-radius: 20pt;
  border: none;
}
.card-skill-bottom-left {
  border-bottom-left-radius: 155pt 155pt;
  border-bottom-right-radius: 23pt 23pt;
  border-top-left-radius: 20pt;
  border-top-right-radius: 20pt;
  border: none;
}
.card-skill-bottom-right {
  border-bottom-right-radius: 155pt 155pt;
  border-bottom-left-radius: 23pt 23pt;
  border-top-left-radius: 20pt;
  border: none;
  border-top-right-radius: 20pt;
}
.card .card-text {
  text-align: center;
}
.card .card-text p {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 15px;
  color: #fff;
}
.nav-profile {
  width: 80%;
  margin-left: -100px;
  float: left;
}